<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- handling fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>
        HappyWoof
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='HappyWoof.css') }}">
</head>

<body>
    <div class="wholeContainer">
        <div class="header">

            <h1 id="mainTitle" style="font-size: 80px; font-style:bold;"> HappyWoof </h1>

            <div id="descText">
                <p><b>Let's find out how your dog is feeling today!</b></p>
                <p> Upload a picture of your dog: </p>
                <p> <input id="fileButton" type="file" accept="image/*"> <input id="submitButton" type="button" value="Submit"> </p>
            </div>
        </div>

        <div id="previousPhotosTitle">
            <p> Your previous photos: </p>
        </div>

        <!-- handles the grid of photos in the website-->
        <div class="photoGrid">

            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo1">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion1" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry1" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy1" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed1" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad1" value="0" max="100"> </progress> <br>
                </div>
            </div>

            <!-- need to make changes to progress bars, add ids to them below this comment -->
            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo2">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion2" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry2" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy2" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed2" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad2" value="0" max="100"> </progress> <br>
                </div>
            </div>

            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo3">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion3" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry3" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy3" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed3" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad3" value="0" max="100"> </progress> <br>
                </div>
            </div>

            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo4">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion4" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry4" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy4" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed4" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad4" value="0" max="100"> </progress> <br>
                </div>
            </div>
            
            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo5">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion5" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry5" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy5" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed5" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad5" value="0" max="100"> </progress> <br>
                </div>
            </div>

            <div class="photoSquare">
                <div class="photoInSquare"> 
                    <img id="photo6">
                </div>
                <div class="dogInfo"> 
                    <p id = "dogEmotion6" class="dogEmotionTitle"> </p>
                    Angry <progress id="angry6" value="0" max="100"> </progress> <br>
                    Happy <progress id="happy6" value="0" max="100"> </progress> <br>
                    Relaxed <progress id="relaxed6" value="0" max="100"> </progress> <br>
                    Sad <progress id="sad6" value="0" max="100"> </progress> <br>
                </div>
            </div>
        </div>

        <div class="footer">
            This website was developed by Ceaby Fernandez.
        </div>
    </div>

    <script src="{{ url_for('static', filename='HappyWoof.js') }}"></script>
</body>

</DOCTYPE>